doctype html
html
include ../head

        //LISTAR TAREAS
div(class="container-xxl")
  div(class="row")
   div(class="col-lg-12")
      div(class="table-responsive")              
        h2(class="text-center mt-3")= 'Tareas de la lista "'+ listaIt.titulo  +'"'    
  
        table(id="tablaItems" style="width: 100%" class="table table-striped table-bordered table-condensed")
          thead(id="thItems" class="text-center")  
            tr
              th(hidden) id
              th Título
              th Descripción
              th Estado 
              th Prioridad 
              th Fecha de creación
              th Fecha limite 
              th Fecha de resolución   
              th Lista 
              th(hidden) ListaId
              th Opciones               
                  
          tbody(id='tbItems' class="text-center")
            if(items)
              each val in items
                tr
                  td(hidden)= val.id
                  td= val.titulo
                  td= val.descripcion
                  td=val.estado
                  td= val.prioridad
                  td(data-order=moment(val.createdAt).format('YY/MM/DD'))= moment(val.createdAt).format('DD/MM/YYYY')
                  if(val.fecha_limite)
                    td(data-order=moment(val.fecha_limite).format('YY/MM/DD'))= moment(val.fecha_limite).format('DD/MM/YYYY')
                  else 
                    td='No se ingreso fecha limite'
                  if(val.fecha_resolucion)
                    td(data-order=moment().format('YY/MM/DD'))= moment(val.fecha_resolucion).format('DD/MM/YYYY')
                  else
                    td= 'No se ingreso fecha de resolucion'    
                  td= val.lista_titulo
                  td(hidden)= val.listId
                  td
                    div(class="d-flex justify-content-center")
                      if(val.estado == "Resuelto")
                        button(id='btnEditar' type="button" class="btn btn-secondary me-3" data-toggle="modal"  title="No se puede editar una tarea en estado resuelto" disabled) Editar
                      else
                        button(id='btnEditar' type="button" class="btn btn-primary me-3" data-toggle="modal"  ) Editar                   
                      //- a(href='/borrar/'+val.id   class="btn btn-danger" onclick="eliminar(this)") Borrar
                      button(id='btnBorrar' type="button" class="btn btn-danger me-3" data-toggle="modal" ) Borrar
  .row
                div(class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true"  role="dialog")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                h5(class="modal-title" id="myModal") Editar tarea
                                button(type="button" class="btn-close" data-bs-dismiss="modal") 
                                
                            div(class="modal-body")
                              form(method="post")
                              
                                .form-group
                                input(id="id" name='id' hidden type="text")
                                div(class="mb-3")
                                  label(for="titulo" class="col col-form-label") Titulo
                                  div(class="col-sm")
                                    input(id='titulo' name="titulo" type="text"  class="form-control" placeholder="Titulo de la tarea"
                                    autofocus='' required)
                                div(class="mb-3")
                                  label(for="descripcion" class="col col-form-label") Descripción
                                  div(class="col-sm")
                                    textarea(id='descripcion' name='descripcion' type="textarea"  class="form-control" placeholder="Descripción de la tarea" required)    
                                div(class="mb-3")
                                    label(for="prioridad" class="col col-form-label") Prioridad 
                                    div(class="col-sm")
                                      select(id='prioridad' name="prioridad" class="form-select" required) 
                                        option(value="Baja") Baja
                                        option(value="Media") Media
                                        option(value="Alta") Alta    
                                div(class="mb-3")      
                                    label.form-label(for="lista"  class="col col-form-label") Lista
                                    div(class="col-sm")
                                      //- input(type="text" id='lista1')
                                      select(required class="form-select" name="list")
                                          //- option(id="lista")
                                          //- each list in listas
                                          //-   option(value=list.id) #{list.titulo}  
                                          if listas.length > 0
                                              option(id="lista")
                                              option(value="0" ) -- ninguna -- 
                                              each list in listas
                                                  option(value=list.id) #{list.titulo}
                                          else
                                              option(value="0" default selected disabled) -- no hay listas --
                                div(class="mb-3")
                                  label(for="estado" class="col col-form-label") Estado
                                  div(class="col-sm" )
                                    select(id="estado" name="estado" class="form-select" required) 
                                      option(value="Sin resolver")  Sin resolver
                                      option(value="Resolviendo") Resolviendo
                                      option(value="Resuelto") Resuelto                                  
                                div(class="mb-3")
                                  label(for="fecha_creacion" class="col col-form-label" ) Fecha creacion
                                  div(class="col-sm")
                                    input(id='fecha_creacion' name='fecha_creacion' class="form-control")
                                div(class="mb-3")
                                  label(for="fec_lim" class="col col-form-label" ) Fecha Limite
                                  div(class="col-sm")
                                    input(id='fecha_limite' name='fecha_limite'  class="form-control")                           
                                div(class="mb-3")
                                  label(for="fec_lim" class="col col-form-label" ) Fecha Resolucion
                                  div(class="col-sm")
                                    input(id="fecha_resolucion" name='fecha_resolucion' type="date"  class="form-control" placeholder="Fecha resolucion" required value=moment().format("YYYY-MM-DD"))
                                
                                div(class="modal-footer")
                                  button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cerrar
                                  //- button(id="btnModal")
                                  button(class="btn btn-primary",type="submit", formaction="../../item/updateItem") Guardar cambios
  .row
                div(class="modal fade" id="ModalBorrar" tabindex="-1" aria-labelledby="ModalBorrar" aria-hidden="true"  role="dialog")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                h5(class="modal-title" id="myModal") 
                                button(type="button" class="btn-close" data-bs-dismiss="modal") 
                                
                            div(class="modal-body")
                              form(method="post")
                              
                                .form-group
                                input(id="idb" name='id' hidden type="text")
                                div(class="mb-3")
                                  label(for="titulo" class="col col-form-label") Titulo
                                  div(class="col-sm")
                                    input(id='titulob' name="titulo" type="text"  class="form-control" placeholder="Titulo de la tarea"
                                    autofocus='' required)
                                div(class="mb-3")
                                  label(for="descripcion" class="col col-form-label") Descripción
                                  div(class="col-sm")
                                    input(id='descripcionb' name='descripcion' type="textarea"  class="form-control" placeholder="Descripción de la tarea" required)    
                                div(class="mb-3")
                                    label(for="prioridad" class="col col-form-label" ) Prioridad 
                                    div(class="col-sm")
                                      select(id='prioridadb' name="prioridad" class="form-select" disabled) 
                                        option(value="Baja") Baja
                                        option(value="Media") Media
                                        option(value="Alta") Alta    
                                div(class="mb-3")      
                                    label.form-label(for="lista"  class="col col-form-label") Lista
                                    div(class="col-sm")
                                      input(type="text" id='listab' class="form-control" disabled)
                                      
                                div(class="mb-3")
                                  label(for="estado" class="col col-form-label") Estado
                                  div(class="col-sm" )
                                    select(id="estadob" name="estado" class="form-select" disabled) 
                                      option(value="Sin resolver")  Sin resolver
                                      option(value="Resolviendo") Resolviendo
                                      option(value="Resuelto") Resuelto                                  
                                div(class="mb-3")
                                  label(for="fecha_creacion" class="col col-form-label" ) Fecha creacion
                                  div(class="col-sm")
                                    input(id='fecha_creacionb' name='fecha_creacion' class="form-control")
                                div(class="mb-3")
                                  label(for="fec_lim" class="col col-form-label" ) Fecha Limite
                                  div(class="col-sm")
                                    input(id='fecha_limiteb' name='fecha_limite'  class="form-control")                           
                                div(class="mb-3")
                                  label(for="fec_lim" class="col col-form-label" ) Fecha Resolucion
                                  div(class="col-sm")
                                    input(id="fecha_resolucionb" name='fecha_resolucion' type="text"  class="form-control" placeholder="Fecha resolucion" disabled value=moment().format("YYYY-MM-DD"))
                                
                                div(class="modal-footer")
                                  button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cerrar
                                  button(class="btn btn-danger", type="submit", formaction="../../item/deleteItem") Borrar

                        
include ../footer                           
