doctype html
html
include ../head

        
div(class="container-xxl")
  div(class="row")
   div(class="col-lg-12")
      div(class="table-responsive")              
        h2(class="text-center mt-3") Categorias       

        table(id="tablaCategorias" style="width: 100%" class="table table-striped table-bordered table-condensed")
          thead(id="thCategorias" class="text-center")  
            tr
              th(hidden) id
              th Título              
                           
              th Fecha de creación
                               
              th Opciones                                
          tbody(id='tbCategorias' class="text-center")
            if(categorias)
              each val in categorias
                tr
                  td(hidden)= val.id
                  td= val.titulo                  
                                  
                  td(data-order=moment(val.createdAt).format('YY/MM/DD'))= moment(val.createdAt).format('DD/MM/YYYY')
                                   
                  td
                    div(class="d-flex justify-content-center")
                      //- a(href='/lista/itemsLista/'+ val.id  class="btn  btn-secondary me-3") Ver tareas
                      button(id='btnEditarCat' type="button" class="btn btn-primary me-3" data-toggle="modal" ) Editar                 
                      a(href='/categoria/deleteCategoria/'+val.id   class="btn btn-danger" ) Borrar
                      //- button(id='btnBorrarCat' type="button" class="btn btn-danger me-3" data-toggle="modal" ) Borrar
  .row
                div(class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="modalCategoria" aria-hidden="true"  role="dialog")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                h5(class="modal-title" id="myModal") Editar Categoria
                                button(type="button" class="btn-close" data-bs-dismiss="modal") 
                                
                            div(class="modal-body")
                              form(method="post")
                              
                                .form-group
                                input(id="id" name='id' hidden type="text")
                                div(class="mb-3")
                                  label(for="titulo" class="col col-form-label") Titulo
                                  div(class="col-sm")
                                    input(id='titulo' name="titulo" type="text"  class="form-control" placeholder="Titulo"
                                    autofocus='' required)
                                
                               
                                                             
                                div(class="mb-3")
                                  label(for="fecha_creacion" class="col col-form-label" ) Fecha creacion
                                  div(class="col-sm")
                                    input(id='fecha_creacion' name='fecha_creacion' class="form-control")
                                
                                
                                div(class="modal-footer")
                                  button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cerrar
                                  button(id="btnModalCategoria")
  .row
                div(class="modal fade" id="modalCategoriaBorrar" tabindex="-1" aria-labelledby="modalCategoriaBorrar" aria-hidden="true"  role="dialog")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                h5(class="modal-title" id="myModal") Editar categoria
                                button(type="button" class="btn-close" data-bs-dismiss="modal") 
                                
                            div(class="modal-body")
                              form(method="post")
                              
                                .form-group
                                input(id="idb" name='id' hidden type="text")
                                div(class="mb-3")
                                  label(for="titulo" class="col col-form-label") Titulo
                                  div(class="col-sm")
                                    input(id='titulob' name="titulo" type="text"  class="form-control" placeholder="Titulo"
                                    autofocus='' )
                                
                               
                                                         
                                div(class="mb-3")
                                  label(for="fecha_creacion" class="col col-form-label" ) Fecha creacion
                                  div(class="col-sm")
                                    input(id='fecha_creacionb' name='fecha_creacion' class="form-control" disabled)
                               
                                
                                div(class="modal-footer")
                                  button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Cerrar
                                  button(id="btnModalCategoriaBorrar")
  
script(src="//cdn.jsdelivr.net/npm/sweetalert2@11") 
if(alert)
  script.
    Swal.fire({
    title: '#{alertTitle}',       
    text: '#{alertMessage}',
    //- text: 'ahhhhhhh',
    icon: '#{alertIcon}',
    showConfirmButton:  '#{showConfirmButton}',
    timer: '#{timer}'
    }).then(()=>{
        window.location = '/#{ruta}'
    })
include ../footer                           
