<!DOCTYPE html>
html(lang="en")

head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  title= "Tareas y listas - Log in"
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  style 
    include ../public/stylesheets/my-login.css
  style 
    include ../public/stylesheets/bootstrap-social.css
  //- link(rel="stylesheet" type="text/css" href="../public/stylesheets/my-login.css")
  //- link(rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap-social.css")
  script(src="https://kit.fontawesome.com/8ea23c42ca.js" crossorigin="anonymous")
  



body(class="my-login-page")
  
  section(class="h-100")
    div(class="container h-100")
      div(class="row justify-content-md-center h-100")
        div(class="card-wrapper mt-4")
          div(class="card fat")
            div(class="card-body")
              h4(class="card-title text-center text-secondary") Bienvenido app de tareas de VALU
              h4(class="card-title text-center") Ingresar
              form(method="POST" class="my-login-validation" novalidate="" action='/login')
                div(class="form-group")
                  label(for="email") Email
                  input(id="email" type="email" class="form-control" name="email" value="" required autofocus)
                  div(class="invalid-feedback") Email invalido                    


                div(class="form-group")
                  label(for="password") Password
                    a(href="forgot.html" class="float-right")  Olvidaste tu Password?
                  input(id="password" type="password" class="form-control" name="password" required data-eye)
                  div(class="invalid-feedback")  Password requerido
                div(class="form-group")
                  div(class="custom-checkbox custom-control")
                    input(type="checkbox" name="remember" id="remember" class="custom-control-input")
                    label(for="remember" class="custom-control-label") Recordame
                div(class="form-group m-0")
                  button(type="submit" class="btn btn-primary btn-block")
                   |  Ingresar
                div(class="mt-4 text-center")   No tienes cuenta?  
                    a(href="/register") Crear

              div(class="mt-4 text-center")
                hr
                | O ingresa con:
                a(class="btn btn-block btn-adn:hover btn-google text-white mt-3")
                  i(class="fab fa-google")
                  span(class="text")    |   Sign in with Google

                a(href='auth/github' class="btn btn-block btn-adn btn-github text-white mt-3")
                  i(class="fab fa-github")
                  span(class="text")    |   Sign in with GitHub

          
  script(src="//cdn.jsdelivr.net/npm/sweetalert2@11") 
  if(alert)
      script.
        Swal.fire({
        title: '#{alertTitle}',       
        text: '#{alertMessage}',
        icon: '#{alertIcon}',
        showConfirmButton:  '#{showConfirmButton}',
        timer: '#{timer}'
        }).then(()=>{
           window.location = '/#{ruta}'
        })

  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous")
    
  script
    include ../public/javascripts/my-login.js
  script(src="https://kit.fontawesome.com/8ea23c42ca.js" crossorigin="anonymous")


